@charset "UTF-8";
.flex-ver{
    display: flex;
    flex-direction: column;
}

.inline-flex-ver{
    display: inline-flex;
    flex-direction: column;
}

.flex-hor{
    display: flex;
    flex-direction: row
}

.inline-flex-hor{
    display: flex;
    flex-direction: row
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-ver.align-center, .flex-hor.align-center, .inline-flex-ver.align-center, .inline-flex-hor.align-center{
    justify-content: center;
}

.flex-ver.align-bottom, .flex-hor.align-right, .inline-flex-ver.align-right, .inline-flex-hor.align-right{
    justify-content: flex-end;
}

.flex-ver.align-space-around, .flex-hor.align-space-around, .inline-flex-ver.align-space-around, .inline-flex-hor.align-space-around{
    justify-content: space-around;
}

.flex-ver.hidden, .flex-hor.hidden, .inline-flex-ver.hidden, .inline-flex-hor.hidden{
    opacity: 0;
}

.elem-fill{
    flex-grow: 1;
}

.elem-center{
    align-self: center;
}

.elem-end{
    align-self: flex-end;
}

.elem-basis-reset{
    flex-basis: 0;
}
